#writing-wrapper {
  display: flex;
  flex-direction: column;
  #select-categori {
    padding: 0 20px;
    border-bottom: 1px solid #d4d4d4;
    .dropbox {
      width: inherit;
      user-select: none;
      .current-select {
        height: 50px;
        padding: 20px 0;
        border-bottom: 1px solid #d4d4d4;
        cursor: pointer;
      }
    }
    .selected {
      width: inherit;
      height: 55px;
      font-size: 25px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
  }

  #make_article {
    input {
      width: 100%;
      resize: none;
      display: block;
      border: none;
      margin-top: 20px;
      font-size: 16px;
      min-height: 40px;
      overflow: hidden;
      letter-spacing: -0.1px;
      line-height: 1.5em;
      border-bottom: 0.5px solid #d4d4d4;
      margin-bottom: 10px;
      padding: 20px 20px;
    }
    textarea {
      width: 100%;
      resize: none;
      display: block;
      border: none;
      font-size: 16px;
      min-height: 240px;
      overflow: hidden;
      letter-spacing: -0.1px;
      line-height: 1.5em;
    }
  }
}
